*/*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.theme-codytron .nivoSlider {
	position: relative;

	}
.theme-codytron .nivoSlider a {
	border: 0;
	display: block;
}
*/